* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background-color: blanchedalmond;
}
img{
    max-width: 0px;
    transition: 0.4s;
}
h3{
    padding: 9px;
    font-size: 22px;
}
.accord {
    margin: 0 auto;
    max-width: 1920px;
}
@media (max-width:820px) and (min-width:321px){
    h3 {
        padding: 7px;
        font-size: 19px;
    }
}
@media (max-width:320px){
    h3 {
        padding: 5px;
        font-size: 17px;
    }
}
.accord:hover{
    color: black;
}
.accord__items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.accord__items-mem:hover img, .accord__items-mem:focus img{
    max-width: 300px;
}
.accord__items-mem{
    color: blue;
    transition: 0.1s;
    border-top: 1px solid grey;
}
.accord__items-mem:hover{
    color: black;
    transition: 0.1s;
}
.after_icon{
    display: flex;
    justify-content: space-between;
}
.accord:hover .after_icon::after{
    content: '+';
}
.accord__items-mem:hover .after_icon::after{
    content: '-';
}